
<h3 class="text text-light text-center" style="width: 100%;"> Hiragana Chart - ひらがな </h3> <!--* Will be changed to component!-->
<br><br>

<div class="row">
   <div class="col-sm w-25" style="margin-left: 50px;">
      <h2 class="text-dark bg-light" style="width: fit-content;">Gojūon【五十音】</h2> 
   </div>
   <div class="col-sm w-25 m">
      <h2 class="text-dark bg-light ml-5" style="width: fit-content;">Yōon【拗音】</h2>
   </div>
</div>


<div class="container-fluid">
   <div class="float-left" style="width: 800px;">

      <!--* // side letters -->

      <div class="float-left pt-4">
         <div class="row mr-1">
            <div class="col-sm-5" style="font-size: 34px; padding-top: 10px;">a</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5" style="font-size: 34px;padding-top: 10px;">k</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5" style="font-size: 34px;padding-top: 10px;">s</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5" style="font-size: 34px;padding-top: 10px;">t</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px;padding-top: 10px;">n</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px;padding-top: 10px;">h</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px; padding-top: 10px; ">m</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px;padding-top: 10px;">y</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5" style="font-size: 34px; padding-top: 10px;">r</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px; padding-top: 10px;">w</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 " style="font-size: 34px;padding-top: 10px;">n</div><br>
         </div>
      </div>

      <div class="row m-auto">
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 50px;">a</span>
         </div>
         <div class="col-sm-1 pl-4">
            <span style="font-size: 20px;padding-left: 100px;">i</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px; padding-left: 200px;">u</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 265px;">e</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 340px;">o</span>
         </div>
      </div>

    <!--* Hiragana letters  -->
    <div class="row border border-danger" style="border-radius: 3px; width: auto;" *ngFor="let letter of letters">
        <div class="col-sm mr-auto border border-danger">
           <!--{{letter.a}}--> 
            <img [src]="letter.a" alt="a" style="width: 50px;">
        </div>
         <div class="col-sm mr-auto p-1 border border-danger">
               <!--{{letter.i}}--> 
               <img [src]="letter.i" alt="i" style="width: 50px;">
            </div>
        <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.u" alt="u" style="width: 50px;">
         </div>   
         <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.e" alt="e" style="width: 50px;">
    </div>  
    <div class="col-sm mr-auto p-1 border border-danger ">
        <img [src]="letter.o" alt="o" style="width: 50px;">
   </div> 
    </div>
    <hr>


    <div class="float-left" style="padding-top: 80px;">
      <div class="row mr-1">
         <div class="col-sm-5" style="font-size: 34px;padding-top: 40px;">g</div><br>
      </div>
      <div class="row">
         <div class="col-sm-5" style="font-size: 34px;padding-top: 40px;">z</div><br>
      </div>
      <div class="row">
         <div class="col-sm-5" style="font-size: 34px;padding-top: 40px;">d</div><br>
      </div>
      <div class="row">
         <div class="col-sm-5" style="font-size: 34px;padding-top: 40px;">b</div><br>
      </div>
      <div class="row">
         <div class="col-sm-5" style="font-size: 34px;padding-top: 40px;">p</div><br>
      </div>
   </div>

   
      <h2 class="text-dark bg-light" style="padding-top: 2px; padding-bottom: 20px;">Dakuon【濁音】/ Handakuon 【半濁音】</h2>
      <hr>

      <div class="row m-auto">
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 50px;">a</span>
         </div>
         <div class="col-sm-1 pl-4">
            <span style="font-size: 20px;padding-left: 100px;">i</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px; padding-left: 200px;">u</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 265px;">e</span>
         </div>
         <div class="col-sm-1">
            <span style="font-size: 20px;padding-left: 340px;">o</span>
         </div>
      </div>

    <div class=" pb-5">
      <div class="row border border-danger" style="border-radius: 3px;" *ngFor="let letter of sound_letters">
         <div class="col-sm mr-auto border border-danger">
           <!--<p>{{letter.a}} </p>--> 
           <img [src]="letter.a" alt="a">
         </div>
          <div class="col-sm mr-auto p-1 border border-danger">
               
             <img [src]="letter.i" alt="i"> 
             </div>
         <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.u" alt="u"> 
          </div>   
          <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.e" alt="e"> 
     </div>  
     <div class="col-sm mr-auto p-1 border border-danger ">
      <img [src]="letter.o" alt="o"> 
    </div> 
     </div>
    </div>

    </div>


      <!--* Letter Combos -->

    <div class="float-right" style="width: auto; padding-right: 195px;">
       <div class="row border border-danger" style="border: 2px solid; border-radius: 3px;" *ngFor="let combo of combo_letters">
          <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
             <p>{{combo.ya}}</p>
          </div>
          <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
            <p>{{combo.yo}}</p>
         </div>
         <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
            <p>{{combo.yu}}</p>
         </div>
         <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
            <p>{{combo.ya2}}</p>
         </div>
         <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
            <p>{{combo.yo2}}</p>
        </div>
        <div class="col-sm border border-danger" style="border: 1px solid; border-radius: 3px;">
         <p>{{combo.yu2}}</p>
        </div>
       </div>
    </div>



</div>



    





