
<h3 class="text text-light text-center" style="width: 100%;"> Hiragana Chart - ひらがな </h3> <!--* Will be changed to component!-->
<br><br>


<div class="container-fluid float-left">

      <!--* // side letters -->

      <div class="float-left pl-3">
         <div class="row">
            <div class="col-sm-5" style="font-size: 34px;">a</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-2" style="font-size: 34px;">k</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-3" style="font-size: 34px;">s</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-2" style="font-size: 34px;">t</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-3" style="font-size: 34px;">n</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-3" style="font-size: 34px;">h</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-1" style="font-size: 34px; ">m</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-2" style="font-size: 34px;">y</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-3" style="font-size: 34px;">r</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-2" style="font-size: 34px;">w</div><br>
         </div>
         <div class="row">
            <div class="col-sm-5 pt-2" style="font-size: 34px;">n</div><br>
         </div>
      </div>

    <!--* Hiragana letters  -->
    <div class="row w-25 border border-danger" style="border-radius: 2px;" *ngFor="let letter of letters">
        <div class="col-sm mr-auto border border-danger">
           <!--{{letter.a}}--> 
            <img [src]="letter.a" alt="a" style="width: 50px;">
        </div>
         <div class="col-sm mr-auto p-1 border border-danger">
               <!--{{letter.i}}--> 
               <img [src]="letter.i" alt="i" style="width: 50px;">
            </div>
        <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.u" alt="u" style="width: 50px;">
         </div>   
         <div class="col-sm mr-auto p-1 border border-danger">
            <img [src]="letter.e" alt="e" style="width: 50px;">
    </div>  
    <div class="col-sm mr-auto p-1 border border-danger ">
        <img [src]="letter.o" alt="o" style="width: 50px;">
</div> 

